/* .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */

/*   
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  } 
  */

body {
    overflow-x: none;
    font: Overpass;
}
#footer{
    align-content: center;
    text-align: center;
}

p{
    font-size:20px;
}

a {
    color: black !important;
    transition: all linear .2s !important;
    background: #F2D9FA !important;
    /* background: rgba(245, 215, 110, .5) !important; */
    text-decoration: none !important;
  }
  
  a:hover {
    /* background: #F5D76E !important; */
      background: #E9BFF7 !important;
    text-decoration: none;
  
  }
  video{
      align-self: center;
      text-align: center;
  }

@media screen and (max-width:480px) {
    video{
        width: 90%;
        height: auto;
        align-self:center;
    }
    img {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 480px) {
    img {
        width: 100%;
        height: auto;
        vertical-align: middle;
    }
    .pics_in_a_row {
        display: flex;
    }
    .pics_in_a_row {
        margin: 25px 0;
    }
    .pics_in_a_row>div:not(:last-child) {
        margin-right: 2%;
    }
    .img1 {
        flex: 0.5625;
    }
    .img2 {
        flex: 1.777;
    }
    .img3 {
        flex: 1.33;
    }
    .img4 {
        flex: 1.777;
    }
    .img5 {
        flex: 1.33;
    }
    .img6 {
        flex: 1.777;
    }
    .img7 {
        flex: 1.33;
    }
}

.img1 {
    flex: 0.5625;
}

.img2 {
    flex: 1.777;
}

.img3 {
    flex: 1.33;
}

.img4 {
    flex: 1.777;
}

.img5 {
    flex: 1.33;
}

.img6 {
    flex: 1.777;
}

.img7 {
    flex: 1.33;
}

.img8 {
    flex: 0.861;
}

.img10 {
    flex: 0.75;
}

.img9 {
    flex: 0.5625;
}

.img11 {
    flex: 0.94;
}
.img12{
    flex:0.75;
}
.img13{
    flex:1.00;
}
.img14{
    flex: 0.562;
}
.img15{
    flex: 1.0;
}
.hasnain{
    flex: 1.33;
}